body{
    background-size: 100%;
    background: url('../image/back.jpg') no-repeat;
}
#div1{
    position: relative;
    text-align: center;
}
#svg1{
    background-image: url('../image/sklad.png');
    background-size: cover;
}
.square{
    opacity: 0.5;
    cursor: pointer;
    fill: #fff8e7;
}
.square:hover{
    fill: skyblue;
}

#svg2{
    background-image: url('../image/stand.png');
    background-size: cover;
    border: ridge 4px #e6e6f2;

}

/*.image1{*/
/*    position: absolute;*/

/*    border: ridge 3px pink;*/
/*}*/
