body{
    background-size: 100%;
    background: url('../image/back.jpg') no-repeat;
}
#div1{
    position: relative;
    text-align: center;
    border: ridge 3px red;
}
#svg1{
    background-image: url('../image/sklad.png');
    background-size: cover;
    border: ridge 4px blue;
}
.square{
    opacity: 0.5;
    cursor: pointer;
    /*fill: cyan;*/
}
.square:hover{
    fill: skyblue;
}
.square.active {
    fill: #FF8C0B
}
#svg2{
    background-image: url('../image/stand.png');
    background-size: cover;
    border: ridge 4px blue;

}

/*.image1{*/
/*    position: absolute;*/

/*    border: ridge 3px pink;*/
/*}*/
